html {
    height: 100vh;
    /* overflow: hidden; */
    scroll-behavior: smooth; 
    background-color: #000000;
  }

  /* zoom on :hover
  effect cursor
  gradient font */
  
  @font-face {
    font-family: 'GRIFTER';
    src: url('font/grifter_bold_700-webfont.woff2') format('woff2'),
    url('font/grifter_bold_700-webfont.woff') format('woff'),
    url('font/GRIFTER Bold 700.ttf') format('truetype'); /* Lokasi file font */
  }
  
body {
  display: flex;
  flex-direction: column;
  width: 400vw;
  height: auto;
  
  font-family: 'GRIFTER';
  color:rgb(255, 255, 255);
  perspective: 1px;
  overflow-x: hidden
}

.text {
  align-self: center;
  font-family: 'GRIFTER';
  text-align: center;
  font-size: 1VW;
  /* color:white; */
}

.section1 {
  width: 100vw;
  height: 100vh;
  background-image: url(../imgPrep/About\ Our\ Galaxy_page-0001.jpg);
  background-size: 100%;
}
.section2 {
  width: 100vw;
  height: 100vh;
  background-image: url(../imgPrep/About\ Our\ Galaxy_page-0002.jpg);
  background-size: 100%;
}
.section3 {
  width: 100vw;
  height: 100vh;
  background-image: url(../imgPrep/About\ Our\ Galaxy_page-0003.jpg);
  background-size: 100%;
}
.section4 {
  width: 100vw;
  height: 150vh;
  background-image: url(../imgPrep/About\ Our\ Galaxy_page-0004.jpg);
  background-size: 100%;
}
.section5 {
    width: 100vw;
    height: 0vh;
    background-size: 100%;
  }


button{
    /* position:relative; */
    align-self: flex-end;
    top: 100vh;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 20px;
    font-family: 'GRIFTER';
    color: #000000;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #323638 2px;
    text-decoration: none;
  
    padding-inline: 2%;
    margin-inline: 3%;
    /* margin-bottom: 3%; */
    transform: translateY(-7vh);
  
    transition: 0.3s ease;
    z-index: 22;
  }
  /* Hover effect */
  button:hover {
    opacity: .5;
  }
  
  button::after{
    color: #929292;
  }
  